		.a {
			padding:100px;
		}
		.container1 {
			position:relative;
		}
		.imgA1 {
			position:absolute; top: 0px; left: 0px; z-index: -1; 
		} 	 
		.menus {
			position: absolute; right: -20px;
			text-align:center;
		}
		#meanDispVal {
			background-color: #dddddd;
			padding: 5px;
			font-weight: bold;.
		}